{% extends 'base.html' %}

{% block content %}
<h1>Beta rarefaction</h1>

<div class="row">
  <div class="col-lg-12">
    <a href='heatmap.svg' target="_blank" rel="noopener noreferrer" class='btn btn-default'>
      Download Heatmap SVG
    </a>
    <a href='rarefaction-iteration-correlation.tsv' target="_blank" rel="noopener noreferrer" class='btn btn-default'>
      Download Heatmap Data as TSV
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="heatmap.svg">
  </div>
</div>
{% endblock %}
