{% extends "tab-child.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>{{ clustering_method|upper }} clustering - {{ metric }}</h1>
    <a href="sample-clustering-{{ clustering_method }}.tre" target="_blank" rel="noopener noreferrer" class="btn btn-default">
      Download Newick Tree
    </a>
  </div>
  <div class="col-md-6">
    <p style="margin-top: 10px">
      Tree visualization is not yet supported by this visualization.
      You can download the sample-cluster tree for visualization with a third-party
      tool such as the
      <a href="http://etetoolkit.org/treeview/" target="_blank" rel="noopener noreferrer">web-based ETE3 tree viewer</a>,
      <a href="https://sites.google.com/site/cmzmasek/home/software/archaeopteryx" target="_blank" rel="noopener noreferrer">Archaeopteryx</a>, or
      <a href="http://tree.bio.ed.ac.uk/software/figtree/" target="_blank" rel="noopener noreferrer">FigTree</a>.
    </p>
  </div>
</div>
{% endblock %}
