{% extends 'base.html' %}

{% block content %}
  {% if initial_dm_length != filtered_dm_length %}
    <p class="alert alert-warning">
      <b>Warning</b>: Some samples were filtered from the input distance matrix
      because they were missing metadata values.<br><b>The input distance matrix
      contained {{ initial_dm_length }} samples but {{ method }} was computed on
      only {{ filtered_dm_length }} samples.</b><p>
    </p>
  {% endif %}

  <div class="row">
    <div class="col-lg-12">
      {{ result }}
      <hr>
      {% for group_id in groupings %}
      <div class="text-center">
        <a href="{{ group_id | replace(' ', '+') }}-boxplots.pdf">
          <img src="{{ group_id | replace(' ', '+') }}-boxplots.png">
          <br>
          <p>Download as PDF</p>
        </a>
      </div>
      {% endfor %}
      {% if pairwise_results %}
        <hr>
        <h2>Pairwise {{ method }} results</h2>
        <a href="{{ method }}-pairwise.csv">Download CSV</a>
        {{ pairwise_results }}
      {% endif %}
    </div>
  </div>

{% endblock %}
